* {
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background-color: #161616;
  color: white;
  animation: smoothLoad;
  animation-duration: 4s;
}

img {
  width: 100%;
}

.oswald {
  font-family: 'Oswald', sans-serif;
}

.singergija-red {
  color: #ED1C24;
}

.bg-sinergija-red {
  background-color: #ED1C24;
}
.pt-140 {
  padding-top: 140px
}
.pt-240 {
  padding-top: 240px
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, .75);
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
}

.inner-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.person-name {
 font-family: 'Helvetica Neue', sans-serif;
 font-size: 20px;
 font-family: 600;
}

.person-job {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: #A3A3A3;
}



/*TEAM */


#meet-the-team .swiper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  
}

#meet-the-team .swiper  .swiper-slide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 300px !important;*/
}
/**/


/**/


#meet-the-team .swiper  .swiper-slide img {
  height: 425px;
}

#meet-the-team .swiper-button-next {
  color: white;
  opacity: 0.6;
}

#meet-the-team .swiper-button-prev {
  color: white;
  opacity: 0.6;
}

#meet-the-team .swiper-button-next, 
#meet-the-team .swiper-button-prev {
  top: 40%;
}

@media (max-width: 780px) {
  #meet-the-team  .swiper-button-next {
    right: 20px;
  }

  #meet-the-team  .swiper-button-prev {
    left: 20px;
  }
}


/*   H E A D E R   */
header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all .3s ease-in-out;
}


header .header-logo {
  width: 260px;
}

header nav .nav-item {
  color: white;
  text-transform: uppercase;
  font-family: 'Helvetica';
  font-size: 18px;
  line-height: 24px;
  padding: 4px 12px;
  margin-left: 16px;
}

.section-title {
  font-size: 65px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.section-little-title {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pricing-table p {
  font-weight: 300;
}

.pricing-section {
  background-size: cover;
  background-position: 40%; 
  box-shadow: inset -300px 0 250px -50px #161616;;
}

#pricing .additional-text {
  text-align: right;
  margin-top: 60px;
  font-size: 18px;
}

#concept-role-book ul {
  list-style-type: disc;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
}
#concept-role-book ul li {
  line-height: 2em;
}


.section-text {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 36px;
  font-weight: 300;
}

/*   H O M E P A G E   */

#index .cover-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  /* border-bottom-right-radius: 180px; */
  position: relative;

}

.homepage-title {
  position: relative;
  mix-blend-mode: screen;
  width: 100%;
  transform: translate(0, 50px);
}

.homepage-title span {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 110px;
  text-transform: uppercase;
}

.homepage-title span:nth-child(1) {
  transform: translate(0, -120px);
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px; 
}

.homepage-title .transparent-word {
  display: block;
  position: absolute;
  color: black;
}

.homepage-title .transparent-word::before,
.homepage-title .transparent-word::after {
  content: attr(data-text);
  display: block;
  position: relative;
  z-index: 1;
  transform: translate(0, 120px);
  animation: jumpUp 0.8s forwards; 
  animation-delay: 250ms;
}

.homepage-title .transparent-word::before {
  position: absolute;
  -webkit-text-stroke: 0.075em white;
  z-index: 0;
}

.homepage-title .white-word {
  -webkit-text-stroke: 4.5px white;
  z-index: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 110px;
  text-transform: uppercase;
  overflow: hidden;
}

.homepage-title .white-word span {
  display: block;
  transform: translate(0, 120px);
  animation: jumpUp 0.8s forwards; 
  animation-delay: 600ms;
}

.homepage-title .white-word:nth-child(3) span {
  animation-delay: 1200ms;
}
.homepage-title .white-word:nth-child(4) span {
  animation-delay: 1800ms;
}


.slow-loading .homepage-title .white-word span {
  display: block;
  transform: translate(0, 120px);
  animation: jumpUp 0.8s forwards; 
  animation-delay: 4000ms;
}

.slow-loading .homepage-title .white-word:nth-child(3) span {
  animation-delay: 5000ms;
}
.slow-loading .homepage-title .white-word:nth-child(4) span {
  animation-delay: 6000ms;
}

.slow-loading-skip .homepage-title .white-word span {
  display: block;
  transform: translate(0, 120px);
  animation: jumpUp 0.8s forwards; 
  animation-delay: 2000ms;
}

.slow-loading-skip .homepage-title .white-word:nth-child(3) span {
  animation-delay: 3000ms;
}
.slow-loading-skip .homepage-title .white-word:nth-child(4) span {
  animation-delay: 4000ms;
}



/*   our concept cta  */
#concept-section-cta {
  min-height: 100vh;
}

#concept-section-cta .section-title {
  margin-bottom: 0px;
}

#concept-section-cta .concept-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
}

#concept-section-cta .concept-description {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  direction: ltr;
  width: 500px;
  margin-right: auto;
}

#concept-section-cta .concept-read-more {
  font-size: 20px;
  line-height: 36px;
  color: #ED1C24;
}

#concept-section-cta .swiper-button-next,
#concept-section-cta .swiper-button-pause,
#concept-section-cta .swiper-button-play,
#concept-section-cta .swiper-button-prev {
  color: white;
  font-size: 40px;
  left: 0;
  right: 0;
  position: static;
  margin-left: 20px;
  width: 48px;
  height: 48px;
  margin-top: 0;
  outline: none;
}

#concept-section-cta .swiper-button-prev::after,
#concept-section-cta .swiper-button-next::after {
  content: none
}

#concept-section-cta svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: opacity 0.2s ease-in-out;
}

#concept-section-cta svg:hover {
  opacity: 0.5;
}

#concept-section-cta .conceptSwiperText .swiper-slide {
  text-align: left;
}


/*  call to action  */

.free_training_cta {
  background-position: center;
  background-size: cover;
}

.free_training_cta h2 {
  font-size: 85px;
  line-height: 90px;
  width: 600px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.free_training_cta .cta-btn {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 28px;
  background-color: #464646;
  padding: 14px 40px;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 0.1em;
  border: 1px solid white;
  transition: all .3s ease-in-out;
}

.free_training_cta .cta-btn:hover {
  background-color: white;
  color: #464646;
}


/* our concept section - all concepts */
#our-concept-section .concept-box {
  width: 350px;
  height: 350px;
  margin: 16px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: transform .3s ease-in-out;
  border: 1px solid white;
} 
#our-concept-section .concept-box:hover {
  border: 2px solid red;
  transform: scale(1.03);
}

#our-concept-section .concept-box > a > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.55);
}

#our-concept-section .concept-box .title {
  font-size: 38px;
  margin-bottom: 36px;
  line-height: 44px;
  min-height: 88px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#our-concept-section .concept-box .description{
  font-size: 20px;
  line-height: 28px;
}

#our-concept-section .concept-box .read-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 20px;
  border-radius: 30px;
  border: 1px solid white;
  background-color: #464646;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

#our-concept-section .concept-box:hover .read-more {
  background-color: #ED1C24;
  border: 1px solid #ED1C24;
}

/* contact cta */

#contact-cta {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 60px 0;
}

#contact-cta .overlay {
  background-color:unset;
  z-index: 1;
  backdrop-filter: brightness(0.3);
}

#contact-cta .title {
  font-weight: 700;
  font-size: 65px;
  text-transform: uppercase;
}

#contact-cta .contact-input,
#contact-cta .contact-textarea {
  font-weight: 500;
  font-size: 18px;
  padding: 8px 20px;
  outline: none;
  border: none;
  background-color: #464646;
  width: 100%;
  margin: 20px 20px;
}

#contact-cta .contact-textarea {
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  height: 140px;
  padding: 16px 20px;
  resize: none;
}

#contact-cta .contact-input:focus,
#contact-cta .contact-textarea:focus {
  outline: 1px solid #ED1C24;
}

#contact-cta .cta-btn,
#galery-cta .cta-btn{
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #ED1C24;
  padding: 10px 36px;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 0.1em;
  border: 1px solid #ED1C24;
  transition: all .3s ease-in-out;
}

#contact-cta .cta-btn:hover {
  border-color: white;
  background-color: #464646;
  color: white;
}

/* galery */
#galery-cta .galery-container {
  width: 1360px;
  max-width: 100%;
}
#galery-cta .hide-insta-widget-info{
  background-color: #161616;
  height: 50px;
  width: 100%;
  transform: translateY(-40px);
}

#galery-cta .custom-grid {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 330px 330px;
  gap: 20px;
  grid-template-areas: 
    "first third fourth sixth"
    "second third fifth fifth";
  
  cursor: pointer;
}

#galery-cta .custom-grid .single-image {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  overflow: hidden;
}

#galery-cta .custom-grid .single-image img{
  transition: all .2s ease-in-out;

}
#galery-cta .custom-grid .single-image:hover img{
  transform: scale(1.06);
}

#galery-cta .single-image:nth-child(1) {
  grid-area: first;
}
#galery-cta .single-image:nth-child(2) {
  grid-area: second;
}
#galery-cta .single-image:nth-child(3) {
  grid-area: third;
}
#galery-cta .single-image:nth-child(4) {
  grid-area: fourth;
}
#galery-cta .single-image:nth-child(5) {
  grid-area: fifth;
}
#galery-cta .single-image:nth-child(6) {
  grid-area: sixth;
}

#galery-cta .mobile-galery-swiper .swiper-slide {
  background-color: rebeccapurple;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -40px;
}
#galery-cta .swiper-pagination-bullet {
  background-color: #A3A3A3;
  opacity: 1;
  width: 10px;
  height: 10px;
}
#galery-cta .swiper-pagination-bullet-active {
  background-color: #ED1C24;
}
#galery-cta .galery-btn {
  margin-top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#galery-cta .galery-btn a{
  background-color: #ED1C24;
  color: white;
  padding: 8px 24px;
  font-size: 18px;
  border-radius: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

#about .custom-container {
  max-width: 1200px;
}
#about .custom-container .accordion-description{
  font-size: 16px;
}



/*page menu*/

.price-dot {
  background-color: #ED1C24;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.mission-container {
  position: relative;
}

.filters {
  height: 400px;
  top: 70px;
  left:0;
  position: sticky;
   /* temp */
  margin-left: -40px;
}

.active .menu-dot {
  background-color:  #ED1C24;;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.red {
  background-color: #ED1C24;
}


.menu-dot {
  background-color:  #464646;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
/*      F A Q      */

#faq .section-subtitle {
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
  color: #464646;
  text-transform: uppercase;
}

#faq .faq-category {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  padding: 6px 24px;
  margin-right: 20px;
  background-color: #464646;
  color: white;
  border-radius: 30px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}
#faq .faq-category:hover {
  opacity: .75;
}

#faq .faq-category.active {
  background-color: #ED1C24;
  opacity: 1;
}
 
#faq .faq-question-answer, 
#faq .faq-question-answer p, 
#faq .faq-question-answer a{
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

#faq .faq-question-answer p {
  display: inline;
}

#faq .faq-question-question,
#faq .faq-question-question span {
  font-family: 'Helvetica', sans-serif;
  font-size: 22px;
  line-height: 32px;
}

#faq .faq-question-question span {
  font-weight: 700;
}

#faq .faq-question-question,
#faq .faq-question-answer a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
#faq .faq-question-answer {
  font-weight: 300;
  margin-bottom: 40px;
}

/*slider swiper*/

#gallery-slider .swiper {
  width: 100%;
  height: 100%;
}

#gallery-slider  .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#gallery-slider  .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

#gallery-slider  .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#gallery-slider  .swiper-slide {
  background-size: cover;
  background-position: center;
}

#gallery-slider  .topSwiper2 {
  /*height: 50%;*/
  height: 650px;
  width: 100%;
}

#gallery-slider  .topSwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

#gallery-slider .topSwiper .swiper-slide {
  width: 25%;
  width: 240px;
  height: 100%;
  opacity: 0.4;
}

#gallery-slider  .topSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

#gallery-slider  .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*mission box*/

.mission-img-box {
  top: 20px;
}

.mission-img {
padding-right: 50px;
width: 100%;
}

.mission-text {
  margin-left: 50px;
}

.mission-box {
  display: flex;
  flex-direction: row;
}

.mission-box:nth-child(even) {
  flex-direction: row-reverse;
}

.mission-box:nth-child(even)  .mission-img {
  padding-right: 0;
  padding-left: 50px;
  }


.mission-box:nth-child(even)  .mission-text {
  margin-left: auto;
  padding-right: 50px;
}



/* testimonials */

#testimonials {
  height: 560px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#testimonials .overlay {
  background-color: rgba(0,0,0,0.5);
}

#testimonials .testimonial-text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  min-height: 120px;
  text-align: center;
}

#testimonials .opening-quote,
#testimonials .closing-quote {
  position: absolute;
  color: #ED1C24;
  font-size: 8em;
  top: -44px;
}

#testimonials .opening-quote {
  left: -100px;
}
#testimonials .closing-quote {
  right: -100px;
}

#testimonials .testimonial-user {
  font-size: 24px;
  line-height: 36px;
  color: #ED1C24;
  font-weight: 500;
}


/*  location  */

#location .location-title,
#location .locaiton-text,
#location .locaiton-text a {
  font-size: 20px;
  line-height: 28px;
  color: white;
}

#location .location-title {
  font-weight: 700;
}

#location .location-text,
#location .locaiton-text a {
  font-weight: 300;
}

#locaiton .youtube::before {
  content: "\eb4c";
}


/* footer */
footer div{
  font-size: 20px;
  line-height: 28px;
  color: #464646;
}

footer a {
  font-size: 20px;
  line-height: 28px;
  color: #ED1C24;
  margin-left: 12px;
}

/*vaucher*/

#vaucher-section .image-section {
  background-image: url('/img/vaucer.jpeg');
  background-size: cover;
  background-position: 40%; 
  box-shadow: inset 200px 0 150px 50px #161616, 
              inset 0 -50px 50px 0px #161616;
}

#vaucher-section .section-title {
  text-align: left;
  font-size: 50px;
}

#vaucher-section .open-vaucher-model {
  display: inline-block;
  color: #ED1C24;
  cursor: pointer;
}

#vaucher-section .open-vaucher-model:hover {
  text-decoration: underline;
}

#vaucher-model {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.25);
  padding: 60px 120px;
  z-index: 100;
  animation: smoothLoad 1s forwards;
}

#vaucher-model .close-btn {
  transform: translate(-50%, 50%);
  cursor: pointer;
}

#successfull-model .close-btn{
  transform: none;
}
.vaucher-model-box {
  position: relative;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vaucher-model-box .section-title {
  font-size: 60px;
  margin-bottom: 20px;
}

.vaucher-model-box input,
.vaucher-model-box select {
  background-color: #464646;
  padding: 12px 24px;
  outline: #ED1C24;
  width: 100%;
}

.vaucher-model-box input,
.vaucher-model-box select,
.vaucher-model-box select option {
  color: #A3A3A3;
}

.vaucher-model-box input,
.vaucher-model-box select {
  border: 1.5px solid transparent;
}

.vaucher-model-box input:focus,
.vaucher-model-box select:focus {
  border: 1.5px solid red;
}

.vaucher-model-box .vaucher-text {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  color: #A3A3A3;
  line-height: 24px;
}

#successfull-model {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 110;
  animation: smoothLoad 1s forwards;
}

.successfull-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #161616;
  border: 2px solid #ED1C24;
  padding: 40px;
}

#successfull-model h3.section-title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 40px;

}



#pricelist-section {
  background-image: url('/img/3Z6A1308.jpg');
  background-size: cover;
  background-position: center;
}

#pricelist-section .pricelist-overlay {
  backdrop-filter: blur(6px) opacity(0.85);
}

#pricelist-section .price-program-box {
  padding: 36px 24px;
  background-color: #161616;
  border: 2px solid #161616;
  transition: all .3s ease-in-out;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 0;
}
#pricelist-section .price-program-box--loayl {
  width: 48%;
}
#pricelist-section .price-program-box:hover {
  border: 2px solid #ED1C24;
  transform: scale(1.03);
}

#pricelist-section .price-program-box .title {
  font-family: Oswald;
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
}

#pricelist-section .price-program-box-item {
  margin-bottom: 20px;
}

#pricelist-section .price-program-box-item div {
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: 200;
  line-height: 28px;
}


#pricelist-section .price-program-box-item:has(.sub-item) {
  padding-left: 24px;
  margin-top: -12px;
}

#pricelist-section .price-box-additional-text {
  font-weight: 300;
}

#pricelist-section .pricelist-title {
  width: 84px; 
}

#pricelist-section .pricelist-service-title {
  width: calc(100% - 100px);
} 

/* temp */

#pricelist-section .price-program-box .col-txt-title {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 16px;

}
#pricelist-section .price-program-box .col-txt {
  font-family: Helvetica Neue;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 16px;
}




/*  M E M B E R S H I P  */
#membership-section .image-section {
  background-size: cover;
  background-position: 40%; 
  box-shadow: inset 200px 0 150px 50px #161616, 
              inset 0 -50px 50px 0px #161616;
}

#membership-section .section-title {
  text-align: left;
}

#membership-section a {
  color: #ED1C24;
}
#membership-section a:hover {
  text-decoration: underline;
}

#rule-book .section-title {
  text-align: left;
}

#rule-book .rule-book-text ul {
  list-style-type: disc;
  padding-left: 20px;
}
#rule-book .rule-book-text ul li {
  margin-bottom: 12px; 
}

#working-hours .section-title {
  text-align: left;
}

#working-hours .time {
  color: #ED1C24;
  font-weight: 600;
}

#working-hours .working-hours-text p{
  margin-bottom: 20px;
}

#working-hours .circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #ED1C24;
  margin: 0 20px;
  padding-top: 36px;
}

#working-hours .circle .time {
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  margin-bottom: 8px;
  color: #fff;
}

#working-hours .circle .days {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top: 8px;
}


/* S I N G L E    P R O G R A M    P A G E */

h1.program-title {
  font-family: Oswald;
  font-size: 72px;
  line-height: 80px; 
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 40px;
}

#program-hero-slider {
  max-width: 75%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;

}

#singleProgramHeroSlider,
#program-hero-slider .swiper-slide img {
  height: 100%;
}

.slow-loading {
  animation: smoothLoadindex 4s ease;
}

.slow-loading-skip {
  animation: smoothLoadindex 4s ease;
}

.accordion-description p {
  margin-top: 18px;
  width: 100%;
}

@keyframes smoothLoadindex {
 
  0% { opacity: 0 }
  40% { opacity: 0.4 }
  100% { opacity: 1 }
}


@keyframes smoothLoad {
  0% { opacity: 0 }
  100% { opacity: 1 }
}



@keyframes jumpUp {
  0% {transform: translate(0, 120px) }
  100% { transform: translate(0, 0px) }
}

.concept-slider {
  height: 600px;
}
.concept-slider .conceptSwiperImages .swiper-slide {
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;
}

.price-program-box-loyal {
  width: 48%;
}
.mobile-show {
  display: none;
}
.mobile-hide {
  display: block;
}
.mobile-hide.flex {
  display: flex;
}

#galery .inner-container {
  max-width: 1200px;
}

#galery .second-image,
#galery .third-image {
  display: inline-block;
  width: calc(50% - 2.5rem);
}

.open-burger .header-logo {
  animation: smoothLoad .8s ease-in-out;
}

#team h4 {
  font-size: 28px;
}

#loading-screen {
  position: fixed;
  background-color: black;
  left: 0; top: 0;
  z-index: 40000;
  transition: transform 8s cubic-bezier(0.25,1.05,1,1);
}

/*#loading-screen.finish {
  transform: translateX(-9999px);
}*/

#loading-screen.finish {
  animation: fadeOut 3s ease-out;
  opacity: 0;
}

#loading-text.finish {
  opacity: 0;
  animation: fadeOut 0.9s ease-out;
}
#single_concept .iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

#single_concept .iframe-container .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  padding: 40px;
}

.about-member-box {
  width: calc(20% - 2em);
  margin: 1em auto 1em 0;
  transition: transform .3s ease-in-out;
}
.about-member-box:hover {
  transform: scale(1.27);
}




  @keyframes fadeOut {
    0% {
      opacity: 100%;
    }
    /*50%{
      opacity: 50%;
    }*/
    90%{
      opacity: 5%;
    }
    100%{
      opacity: 0;
    }
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 100%;
    }
    /*50%{
      opacity: 50%;
    }*/
    90%{
      opacity: 5%;
    }
    100%{
      opacity: 0;
    }
  }

  @media  screen  and  (min-width: 501px)  and (max-width: 1367px) {
    .homepage-title span {
  font-size: 60px;
  line-height: 72px;
  }

  .homepage-title span:nth-child(1) {
    transform: translate(0, -90px);
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px; 
  }
  }



@media  screen and (max-width: 500px) {
  .mobile-show {
    display: block;
  }
  .flex.mobile-show {
    display: flex;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-hide.flex {
    display: none;
  }
  .custom-vaucher-left-margin {
    padding-left: 16px;
    padding-right: 16px;
  }

  .homepage-title .white-word {
    -webkit-text-stroke: 2.2px white;
  }
  
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  header {
   position: fixed;
   z-index: 10000;
  }

  header.active {
    background-color: #161616;
  }

  .black {
    background-color: #161616;
  }


  .logo-burger-container {
    background-color: transparent;
    /*background-color: transparent;*/
  }

  header .header-logo {
    width: 140px;
  }
  

  header .burger {
    cursor: pointer;
    width: 40px;
  }
  
  header .burger .burger-line {
    height: 3px;
    width: 100%;
    background-color: white;
    transition: all .3s ease-in-out;
    border-radius: 2px;
  }
  
  header .burger .burger-line:nth-child(1) {
    width: 100%;
    /*transform: rotate(-45deg) translateY(8px);*/
  }
  
  header .burger .burger-line:nth-child(2) {
    width: 100%;
    /*transform: rotate(45deg) translate(3px, -4px);*/
  }
  
  header .burger {
    height: 40px;
  }

  header.open-burger .burger .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
   
  }

  header.open-burger .burger .burger-line:nth-child(2) {
    transform: rotate(-45deg) translate(-2px, 2px);

  }

  header.open-burger .burger .burger-line:nth-child(3) {
    background-color: transparent

  }
  

  .nav-word {
    color: #464646;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }


header nav .nav-item {
  margin-bottom: 12px;
  font-weight: lighter;
}

.mobile-nav-container {
  margin-left: 22px;
  margin-right: 22px;
}

.homepage-title span {
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 2px;
  font-weight: 400;
}

.section-title {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 60px;
}

.free_training_cta h2 {
  font-size: 46px;
  line-height: 50px;
  width: 100%;}

.free_training_cta {
  background-image: url('../img/homepage_cta.jpg');
  background-position: center;
  background-size: cover;
}

.free_training_cta .cta-btn {
  font-size: 16px;
  padding: 10px 32px;
}

#working-hours .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #ED1C24;
  margin: 0 0px;
  padding-top: 36px
}

.transparent {
  opacity: 0;
}

#index .cover-image {
  background-position: 50%;
}

.homepage-title .transparent-word::before,
.homepage-title .transparent-word::after {
  content: attr(data-text);
  display: block;
  /*position: relative;*/
  z-index: 1;
  transform: translate(0, 0px);
  animation: jumpUp 0.8s forwards; 
  animation-delay: 250ms;
}


.homepage-title .transparent-word  {
  position: absolute;
  z-index: 0;

}

.homepage-title span:nth-child(1) {
  transform: translate(0, -60px);
  overflow: hidden;
}

.working-hours-text { 
  margin-top: 40px;
}
#working-hours .section-title {
  text-align: center;
}

#concept-section-cta .section-title  {
  margin-bottom: 40px;
}


.membership {
  background-image: url('/assets/uploads/gym2.jpeg');
  background-size: cover;
  background-position: 40%;
  box-shadow: inset 200px 0 150px 50px #161616, 
              inset 0 -50px 50px 0px #161616;  
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 20px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;

}

/*.homepage-title span:nth-child(1) {
  transform: translate(0, -120px);
  overflow: hidden;
  padding-top: 4px;
  padding-bottom: 4px; 
}*/

.concept-slider {
  height: auto;
}

#concept-section-cta .concept-description {
  width: auto;
}

#galery-cta .galerySwiper {
  width: auto;
}

#testimonials .closing-quote {
  display: none;
}

#concept-section-cta .concept-title {
  font-size: 40px;
  line-height: 52px;
}

#concept-section-cta .concept-description {
  font-size: 16px;
  line-height: 24px;
}

#contact-cta .contact-input,
#contact-cta .contact-textarea {
  font-weight: 400;
  font-size: 18px;
  padding: 8px;
  outline: none;
  border: none;
  background-color: #464646;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

#contact-cta .contact-textarea {
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  height: 140px;
  padding: 8px;
  resize: none;
}

#our-concept-section .concept-box {
  width: 47%;
  height: 150px;
  margin-bottom: 15px;
  margin-left:0;
  margin-right: 2px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform .3s ease-in-out;
  border: 1px solid white;
} 
#our-concept-section .concept-box:hover {
  border: 2px solid red;
  transform: scale(1.03);
}

#our-concept-section .concept-box > a > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.55);
}

#our-concept-section .concept-box .title {
  font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 48px;
    margin-bottom: 20px;
}


#working-hours .working-hours-text p{
  margin-bottom: 20px;
}

#working-hours .circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #ED1C24;
  margin: 0;
  padding-top: 36px;
}

#working-hours .circle .time {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 2px;
  color: #fff;
}

#working-hours .circle .days {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top: 1px;
}


.mission-img {
  padding-right: 0px;
  }
  
  .mission-text {
    margin-left: 0px;
  }

  .mission-box {
    display: flex;
    flex-direction: column-reverse;
    
  }

  .mission-box:nth-child(even) {
    flex-direction: column-reverse;
  }

  .mission-box:nth-child(even)  .mission-img {
    padding-right: 0;
    padding-left: 0px;
    }
  
  
  .mission-box:nth-child(even)  .mission-text {
    margin-left: auto;
    padding-right: 0px;
  }

  .section-little-title {
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  #pricing {
      background-image: url('/assets/uploads/gym2.jpeg');
      background-size: cover;
      background-position: 60%; 
      box-shadow: inset -300px 0 250px -50px #161616;
  }
  

  footer div{
    font-size: 18px;
    line-height: 22px;
    color: #464646;
  }
  
  footer a {
    font-size: 18px;
    line-height: 22px;
    color: #ED1C24;
    margin-left: 12px;
  }

  #testimonials .testimonial-text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    min-height: 120px;
    text-align: center;
  }

  #faq .section-subtitle {
    font-size: 20px;
    line-height: 36px;
  }

  #faq .faq-question-answer,
  #faq .faq-question-answer p,
  #faq .faq-question-answer a{
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 26px;
  }

#faq .faq-question-question,
#faq .faq-question-question span {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 28px;
}

#generalno h3 {
 font-size: 25px;
 line-height: 25px;
}

#vaucher-section .section-title {
  text-align: left;
  font-size: 40px;
  line-height: 42px;
}


#pricelist-section .price-program-box {
  background-color: #161616;
  border: 2px solid #161616;
  transition: all 0.7s ease-in-out;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

#pricelist-section .price-program-box  .title{
  margin-bottom: 0;
  position: relative;
}

#pricelist-section .accordion-description {
  max-height: 0;
  overflow: hidden;
  white-space: pre-line;
  padding-top: 16px;
  opacity: 0;
 /* -webkit-transition: max-height 0.1s ease-in;
  -o-transition: max-height 0.1s ease-in;
  transition: max-height 0.1s ease-in;*/
  transition-property: max-height, opacity;
  transition-duration: 0.3s, 0.4s;
  transition-timing-function: ease-in;
  
}

#galery .second-image,
#galery .third-image {
  display: block;
  width: 100%
}

#pricelist-section .accordion-opened .accordion-description {
  padding-top: 16px;
  max-height: 100%;
  opacity: 1;
}

#pricelist-section .plus {
  height: 4px;
  width: 20px;
  background-color: white;
  top:18px;
  left:0px;
  position: absolute;
  transition: all 0.4s ease-out;
}

#pricelist-section .plus::after {
  content: '';
  height: 20px;
  width: 4px;
  background-color: white;
  margin-right: 45px;
  position: absolute;
  top: -8px;
  left: 8px;
  transition: all 0.2s ease-out;
}


#pricelist-section .accordion-opened .plus::after {
  transform: rotate(90deg);
}

#pricelist-section .accordion-opened .plus {
  background-color: transparent;
}

.price-program-box--loyal {
  width: 100%;
}

#pricelist-section .price-program-box .col-txt-title {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;

}

#pricelist-section {
  background-image:none;
  background-size: cover;
  background-position: center;
}

#pricelist-section .price-program-box .col-txt {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 10px;
}


  #pricelist-section .price-program-box:hover {
    border: 2px solid #ED1C24;
    transform: none;
  }

  .mobile-menu-height {
    height: 100vh;
    animation: smoothLoad .5s ease-in-out;
  }

  #galery-cta .galery-btn { 
    margin-top: 60px;
  }
  
  #concept #galery-cta {
    padding-top: 2rem;
  }

  #gallery-slider .topSwiper2 {
    height: 100%;
  }

  #our_mission .section-title {
    margin-bottom: 40px;
  }

  #pricing .pricing-text-box {
    backdrop-filter: blur(4px);
  }
  
  
  #galery .inner-container {
    max-width: 100%
  }

  .conceptMobileSwiper .swiper-slide {
    height: auto;
  }
  .swiper-pagination-mobile-concept{
    margin-top: 10px;
    text-align: center;
  }
  .swiper-pagination-mobile-concept .swiper-pagination-bullet{
    background-color: #ffffffac;
    width: 10px;
    height: 10px;
  }
  .swiper-pagination-mobile-concept .swiper-pagination-bullet-active {
    background-color: #ED1C24;
  }


  #about .accordion-description {
    max-height: 0;
    overflow: hidden;
    /*white-space: pre-line;*/
    opacity: 0;
  /* -webkit-transition: max-height 0.1s ease-in;
    -o-transition: max-height 0.1s ease-in;
    transition: max-height 0.1s ease-in;*/
    transition-property: max-height, opacity;
    transition-duration: 0.1s, 0.1s;
    transition-timing-function: ease-in;  
  }

  #about .custom-container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  #about .custom-container .accordion-description{
    font-size: 16px;
  }

  #about .accordion-opened .accordion-description {
    max-height: 100%;
    opacity: 1;
  }

  #about h3 {
    font-family: Helvetica Neue;
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
    /*margin-bottom: 40px;*/
    text-transform: uppercase;
  }

  #about .plus {
    height: 4px;
    width: 20px;
    background-color: white;
    top:18px;
    left:0px;
    position: absolute;
    transition: all 0.2s ease-out;
  }

  #about .plus::after {
    content: '';
    height: 20px;
    width: 4px;
    background-color: white;
    margin-right: 45px;
    position: absolute;
    top: -8px;
    left: 8px;
    transition: all 0.2s ease-out;
  }

  #about .accordion-opened .plus::after {
    transform: rotate(90deg);
  }

  #about .accordion-opened .plus {
    background-color: transparent;
  }

  .social-mobile-menu {
    padding: 4px 12px;
    margin-left: 16px;
  }

  #loading-screen #loading-logo-svg {
    height: 240px;
    top: 40vh;
    transform: translateY(-50%);
  }
  #loading-screen #loading-text {
    transform: translateY(-32%);
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0,50px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  @-webkit-keyframes fadeInUp {
    from {
      transform: translate3d(0,50px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }

  #skip-loading svg {
    animation: skip 1s 1s infinite ease-in-out;
  }
  #skip-loading {
    font-family: 'Frunchy';
    font-size: 1.75rem;
  }

  #vaucher-model {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.25);
    padding: 0;
    z-index: 20000;
    animation: smoothLoad 1s forwards;
  }

  .vaucher-model-box .section-title {
    font-size: 36px;
  }

  #team h3 {
    font-size: 36px;
    line-height: 40px;
  }

  #team h4 {
    font-size: 20px;
    margin-top: 8px;
  }


  .about-member-box {
    width: calc(33% - .5em);
    margin: 0.25em auto 0.2em 0;
  }
  .about-member-box:hover {
    transform: scale(1);
  }
}

.concept-bottom-slider .swiper-slide{
  aspect-ratio: 3/2;
}
