
<div id="contact-cta" class="flex items-center justify-center" style="background-image: url('../img/3Z6A1663.jpg');">
  <div class="overlay"></div>
  <div class="container mx-auto md:h-full flex items-center justify-center z-10">
    <div class="lg:w-3/5 mx-auto flex flex-col items-center justify-center pl-4 md:pl-12 pr-4 md:pr-12 lg:pl-0 lg:pr-0">
      <h2 class="section-title oswald mb-4 lg:mb-10">Kontakt</h2>
      <!-- 3 dots -->
      <div class="flex items-center justify-center gap-x-4 mb-4 lg:mb-8">
       <div class="price-dot"></div>
       <div class="price-dot"></div>
       <div class="price-dot"></div>
      </div>

      <!-- inputs -->
      <div class="w-full lg:flex lg:items-center lg:justify-center">
        <input id="contact-name" class="contact-input" type="text"  placeholder="Ime">
        <input id="contact-lastname" class="contact-input" type="text"  placeholder="Prezime">
      </div>
      <div class="w-full lg:flex lg:items-center lg:justify-center "><!--lg:mb-8-->
        <input id="contact-email" class="contact-input" type="text"  placeholder="Email">
        <input id="contact-phone" class="contact-input" type="text"  placeholder="Mobilni">
      </div>
      <div class="w-full lg:flex lg:items-center lg:justify-center lg:mb-8">
        <textarea id="contact-message" class="contact-textarea" placeholder="Poruka"></textarea>
      </div>
      <div class="mt-12 md:mt-16">
        <a 
          class="cta-btn" 
          href="#"
        >
          Pošalji
        </a>
      </div>
    </div>
  </div>
</div>