<footer class="container mx-auto">
  <div class="pt-16 pb-8 text-lg text-white text-center">
    Mi smo uvek otvoreni da upoznamo sjajne ljude. <br>
    
    Ukoliko smatraš da možeš da budeš karika u našem lancu i imaš veliku goruću želju da postaneš deo našeg tima, 
    <a href="mailto:info@sinergijaconcept.com" target="_blank" style="color: #ED1C24; text-decoration: underline; font-size: 18px; margin-left: 0;">pošalji nam CV sa motivacionim pismom</a>, 
    a mi ćemo uraditi naš deo.
  </div>
  <div class="flex items-center justify-center pb-16">
    All rights reserved 2023 &copy; <span class="text-lg" style="color: #ED1C24; padding-left: 8px; font-weight: 700;">SINERGIJA</span>
  </div>
</footer>


<script 
  src="https://cdn2.woxo.tech/a.js#6400a465f4030afa0415713b" 
  async data-usrc>
</script>
<script src="/js/swiper.js"></script>
<script src="/js/scrollreveal.js"></script>
<script src="/js/main.js" type="module"></script>
<script src="/js/reaveal.js"></script>
