<section id="galery-cta" class="pt-24 pb-24 md:pb-40">
  <div class="container mx-auto">
    <h2 class="section-title">
      Galerija
    </h2>

    <div class="hidden md:block galery-container mx-auto">
      <a href="/galery" class="custom-grid">
        <div class="single-image"> 
          <img src="../img/galery1.jpeg" alt="" class="">
        </div>
        <div class="single-image">
          <img  src="../img/galery2.jpeg" alt="" class=""> 
        </div>
        <div class="single-image">
          <img src="../img/galery3.jpeg" alt="" class="">
        </div>
        <div class="single-image">
          <img src="../img/galery4.jpeg" alt="">
        </div>
        <div class="single-image">
          <img src="../img/galery5.jpeg" alt="">
        </div>
        <div class="single-image"> 
          <img src="../img/galery6.jpeg" alt="">
        </div>
      </a>
    </div>

    <div class="md:hidden mobile-galery-swiper">
      <div class="relative">
        <div class="swiper galerySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide single-image" style="background-image: url('../img/galery1.jpeg');"> </div>
            <div class="swiper-slide single-image" style="background-image: url('../img/galery2.jpeg');"> </div>
            <div class="swiper-slide single-image" style="background-image: url('../img/galery3.jpeg');"> </div>
            <div class="swiper-slide single-image" style="background-image: url('../img/galery4.jpeg');"> </div>
            <div class="swiper-slide single-image" style="background-image: url('../img/galery5.jpeg');"> </div>
            <div class="swiper-slide single-image" style="background-image: url('../img/galery6.jpeg');"> </div>
          </div>
        </div>
      </div>

      <div class="mt-12 md:mt-16 text-center">
        <a class="cta-btn" href="/galery">Pogledaj više</a>
      </div>
    </div>
  </div>
</section>