<section id="galery-cta" class="pt-24 pb-40">
  <div class="container mx-auto">
    <h2 class="section-title">
      Galerija
    </h2>

    <div class="swiper galerySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="img-first"> 
            <img src="../img/galery1.jpeg" alt="" class="">
          </div>
          <div class="img-second">
            <img  src="../img/galery2.jpeg" alt="" class=""> 
          </div>
          <div class="img-third">
            <img src="../img/galery3.jpeg" alt="" class="">
          </div>
          <div class="img-fourth">
            <img src="../img/galery4.jpeg" alt="">
          </div>
          <div class="img-fifth">
            <img src="../img/galery5.jpeg" alt="">
          </div>
          <div class="img-sixth"> 
            <img src="../img/galery6.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>