<section id="galery-cta" class="pt-24 pb-40">
  <div class="container mx-auto">
    <h2 class="section-title">
      Galerija
    </h2>

    <div class="swiper galerySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="img-first"> 
            <img src="https://picsum.photos/640/700" alt="">
          </div>
          <div class="img-second">
            <img src="https://picsum.photos/650/700" alt=""> 
          </div>
          <div class="img-third">
            <img src="https://picsum.photos/660/700" alt="">
          </div>
          <div class="img-fourth">
            <img src="https://picsum.photos/670/700" alt="">
          </div>
          <div class="img-fifth">
            <img src="https://picsum.photos/680/700" alt="">
          </div>
          <div class="img-sixth"> 
            <img src="https://picsum.photos/690/700" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="img-first"> 
            <img src="../img/galery1.jpeg" alt="">
          </div>
          <div class="img-second">
            <img  src="../img/galery2.jpeg" alt=""> 
          </div>
          <div class="img-third">
            <img src="../img/galery3.jpeg" alt="">
          </div>
          <div class="img-fourth">
            <img src="../img/galery4.jpeg" alt="">
          </div>
          <div class="img-fifth">
            <img src="../img/galery5.jpeg" alt="">
          </div>
          <div class="img-sixth"> 
            <img src="../img/galery6.jpeg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="img-first"> 
            <img src="https://picsum.photos/700/700" alt="">
          </div>
          <div class="img-second">
            <img src="https://picsum.photos/710/700" alt=""> 
          </div>
          <div class="img-third">
            <img src="https://picsum.photos/720/700" alt="">
          </div>
          <div class="img-fourth">
            <img src="https://picsum.photos/730/700" alt="">
          </div>
          <div class="img-fifth">
            <img src="https://picsum.photos/740/700" alt="">
          </div>
          <div class="img-sixth"> 
            <img src="https://picsum.photos/750/700" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="img-first"> 
            <img src="https://picsum.photos/760/700" alt="">
          </div>
          <div class="img-second">
            <img src="https://picsum.photos/770/700" alt=""> 
          </div>
          <div class="img-third">
            <img src="https://picsum.photos/780/700" alt="">
          </div>
          <div class="img-fourth">
            <img src="https://picsum.photos/790/700" alt="">
          </div>
          <div class="img-fifth">
            <img src="https://picsum.photos/800/700" alt="">
          </div>
          <div class="img-sixth"> 
            <img src="https://picsum.photos/810/700" alt="">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>