<section id="gallery-slider">
   <div  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper topSwiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/6O6A0374.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="/img/6O6A0351.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="/img/3Z6A1688.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="/img/3Z6A1663.jpg" />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper topSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/img/6O6A0374.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="/img/6O6A0351.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="/img/3Z6A1688.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="/img/3Z6A1663.jpg" />
      </div>
    </div>
  </div>
</section>