<section id="gallery-slider">
   <div  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper topSwiper2">
    <div class="swiper-wrapper">
      {% for single_image in page.galery %}
        <div class="swiper-slide">
          <img src="{{single_image}}" />
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper topSwiper">
    <div class="swiper-wrapper">
      {% for single_image in page.galery %}
        <div class="swiper-slide">
          <img src="{{single_image}}" />
        </div>
      {% endfor %}
    </div>
  </div>
</section>