<section id="meet-the-team" class="container mx-auto py-20 mt-12 mb-12 lg:mb-20 ">
  <h2 class="section-title">
    Upoznaj naš tim!
  </h2>


  <div class="swiper meet-the-team-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide flex flex-col">
        <img src="/img/trainer-1.jpeg" class="h-full object-cover">
        <h2 class="mt-12 person-name">Maria Maria</h2>
        <p class="mt-1 person-job">Trainer</p>
      </div>
      <div class="swiper-slide flex flex-col">
        <img src="/img/trainer-2.jpeg" class="h-full object-cover">
        <h2 class="mt-12 person-name">Maria Maria</h2>
        <p class="mt-1 person-job">Trainer</p>
      </div>
      <div class="swiper-slide flex flex-col">
        <img src="/img/trainer-3.jpeg" class="h-full object-cover">
        <h2 class="mt-12 person-name">Maria Maria</h2>
        <p class="mt-1 person-job">Trainer</p>
      </div>
      <div class="swiper-slide flex flex-col">
        <img src="/img/trainer-1.jpeg" class="h-full object-cover">
        <h2 class="mt-12 person-name">Maria Maria</h2>
        <p class="mt-1 person-job">Trainer</p>
      </div>
      <div class="swiper-slide flex flex-col">
        <img src="/img/trainer-2.jpeg" class="h-full object-cover">
        <h2 class="mt-12 person-name">Maria Maria</h2>
        <p class="mt-1 person-job">Trainer</p>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <!----->
</section>