<section id="meet-the-team" class="container mx-auto py-20 mt-12 mb-12 lg:mb-20 ">
  <h2 class="section-title">
    Upoznaj naš tim!
  </h2>


  <div class="swiper meet-the-team-slider">
    <div class="swiper-wrapper">
      {% for team_member in page.our_team %}
        <div class="swiper-slide flex flex-col">
          <img src="{{ team_member.image }}" class="h-full object-cover">
          <h2 class="mt-12 person-name">{{ team_member.name }}</h2>
          <p class="mt-1 person-job">{{ team_member.role }}</p>
        </div>

      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <!----->
</section>