<section id="membership-section" class="">
  <div class="membership lg:flex lg:items-center lg:justify-between lg:min-h-screen ">
    <div class="lg:w-2/5 custom-membership-left-margin pt-20">
      <h1 class="section-title">{{ page.membership.title }}</h1>
      <div class="lg:pr-20">
        {{ page.membership.text }}
      </div>
      <div class="mt-6">
        <a href="/contact/#contact-form" class="here-btn">Ovde</a> možeš zakazati trening ili konsultacije.
      </div>
    </div>
    <div class="image-section lg:w-3/5 lg:min-h-screen hidden lg:block" style="background-image: url('  {{ page.membership.image }}')"></div>
  </div>
</section>