<header
  class="container mx-auto flex items-between justify-between pt-10 pb-8"
>
  <div class="header-logo">
    <a href="/">
      <img src="/img/logo.png" alt="sinergija_logo">
    </a>
  </div>
  <nav class="flex items-center justify">
    <a href="/" class="nav-item">
      Naš koncept
    </a>
    <a href="/" class="nav-item">
      Članstvo
    </a>
    <a href="/" class="nav-item">
      Galerija
    </a>
    <a href="/about" class="nav-item">
      O nama
    </a>
    <a href="/faq" class="nav-item">
      FAQ
    </a>
    <a href="/vaucer" class="nav-item">
      Vaucer
    </a>
    <a href="/" class="nav-item">
      Kontakt
    </a>
    <a href="/coaching" class="nav-item">
      Coaching
    </a>
  </nav>
</header>
