<header
  class="container mx-auto flex flex-col lg:flex-row items-between
   pt-4 md:pt-8 pb-4 md:pb-12 justify-start lg:justify-between"
  id="header">
<div class="flex justify-between md:px-4 py-2 md:py-4 items-baseline logo-burger-container">
  <div class="header-logo">
    <a href="/?a=hidden">
      <img src="/img/logo.png" alt="sinergija_logo">
    </a>
  </div>
  <div class="burger">
    <div class="burger-line mb-2"></div>
    <div class="burger-line mb-2"></div>
    <div class="burger-line"></div>
  </div>
  </div>
  <div class="mobile-menu lg:pt-2 hidden lg:block flex justify-evenly flex-col h-full ">
  <nav class="flex flex-col lg:flex-row lg:items-start lg:block">
    <a href="/concept" class="nav-item" data-value="Naš koncept">Naš koncept</a>
    <a href="/about" class="nav-item" data-value="O nama">O nama</a>
    <a href="/membership" class="nav-item" data-value="Članstvo">Članstvo</a>
    <a href="/vaucher" class="nav-item" data-value="Vaučer">Vaučer</a>
    <a href="/galery" class="nav-item" data-value="Galerija">Galerija</a>
    <a href="/contact" class="nav-item" data-value="Kontakt">Kontakt</a>
    <a href="/faq" class="nav-item" data-value="FAQ">FAQ</a>
  </nav>
    <div class="flex items-center justify-start mb-12 social-mobile-menu lg:hidden">
      <a class="mr-2" href="https://www.instagram.com/sinergija.concept/">
        <img class="w-8 h-8" src="../img/instagram.svg" alt="instagram">
      </a>
      <a class="mx-2" href="https://www.facebook.com/sinergija.concept/">
        <img class="w-8 h-8" src="../img/facebook.svg" alt="facebook">
      </a>
      <a class="mx-2" href="https://www.youtube.com/@sinergija.concept">
        <img class="w-8 h-8" src="../img/youtube.svg" alt="youtube">
      </a>
  </div>
  </div>
</header>
