<section id="concept-section-cta" class="pt-24 pb-20">
  <div class="container mx-auto">
    <h2 class="section-title">
      Naš koncept
    </h2>
  </div>

  <div class="relative lg:flex lg:items-stretch lg:items-center lg:justify-center py-20">
    <!-- transparent overlay over left slider -->
    <!-- <div class="absolute top-0 left-0 right-0 bottom-0 flex z-10">
      <div class="w-1/2 h-full"> </div>
      <div class="w-1/2 h-full"> </div>
    </div> -->

    <div class="lg:w-1/2">
      <div class="concept-slider">
        <div class="swiper conceptSwiperImages h-full" dir="rtl">
          <div class="swiper-wrapper h-full">
            <div class="swiper-slide"> <img src="https://picsum.photos/700/700" alt=""></div>
            <div class="swiper-slide"> <img src="https://picsum.photos/710/710" alt=""></div>
            <div class="swiper-slide"> <img src="https://picsum.photos/720/720" alt=""></div>
            <div class="swiper-slide"> <img src="https://picsum.photos/730/730" alt=""></div>
            <div class="swiper-slide"> <img src="https://picsum.photos/740/740" alt=""></div>
            <div class="swiper-slide"> <img src="https://picsum.photos/750/750" alt=""></div>
            <div class="swiper-slide"> <img src="https://picsum.photos/760/760" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 px-12 lg:px-24">
      <div class="swiper conceptSwiperText h-full" dir="rtl">
        <div class="swiper-wrapper h-full pt-8">
          <div class="swiper-slide">
            <div>
              <h3 class="concept-title mb-8">
                GYM
              </h3>
              <div class="concept-description">
                <div>
                  Naš GYM departman predstavlja jednu od najopremljenijih i najlepših teretana na našim prostorima. U
                  stvaranju ovog departmana vodili smo se načelima organizovanosti, funkcionalnosti i estetike,
                  praćenjem
                  tendencija u svetu zdravlja, sporta i fitnesa, a sve to zarad što prijatnijeg boravka i uživanja u
                  vremenu
                  provedenom u GYM-u.
                </div>
              </div>
              <div class="mt-6">
                <a href="#" class="concept-read-more z-20">
                  Detaljnije
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h3 class="concept-title mb-8">
                CROSS TRAINING
              </h3>
              <div class="concept-description">
                CrossTraning trening predstavlja grupne programe vođenih treninga od strane naših
                stručnih trenera koji služeći se načelima funkcionalnig treninga, Cross Fit metodologije,
                Olimpijskog dizanja tegova, vežbi sa opterećenjem, Ruskim zvonima (eng. Ketlebells),
                Concept Ergometrima, gimnastičkim elementima programiraju učinkovite i
                interesantne trening cikluse i sve to u viskokom intezitetu.
              </div>
              <div class="mt-6">
                <a href="#" class="concept-read-more z-20">
                  Detaljnije
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h3 class="concept-title mb-8">
                BASKETBALL
              </h3>
              <div class="concept-description">
                Naša sala za basket 3x3 je punih dimenzija 15m x 11m, sa sportskom podlogom koju
                će vaša kolena i zglobovi obožavati. Imamo profesionalan koš i puno svetlosti i
                vazduha ne bi li vaš basket bio odigran u što lepšem ambijentu.
                Termini su 60 minuta i
                počinju na pun sat.
                Cena jednog termina je
                3000 RSD.
                Neophodno je zakazati
                termine i oni se plaćaju
                unapred.
                U pripremi je
                formiranje 3x3
                basket lige ekipa
                koje treniraju i
                igraju basket kod
                nas.
              </div>
              <div class="mt-6">
                <a href="#" class="concept-read-more z-20">
                  Detaljnije
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h3 class="concept-title mb-8">
                MIND & BODY
              </h3>
              <div class="concept-description">
                MInd & Body je naš studio posebno projektovan i uređen za mirnije
programe. Prilikom realizacije studija, vodili smo računa da svaki detalj bude
na svom mestu, i da stvorimo što lepši i prijatniji ambijent. U ovom departmanu sprovodimo programe Hatha Yoge, Prenatal Yoge, a u
pripremi je još nekoliko interesantnih mirnih programa.
              </div>
              <div class="mt-6">
                <a href="#" class="concept-read-more z-20">
                  Detaljnije
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h3 class="concept-title mb-8">
                CROSS TRAINING
              </h3>
              <div class="concept-description">
                CrossTraning trening predstavlja grupne programe vođenih treninga od strane naših
                stručnih trenera koji služeći se načelima funkcionalnig treninga, Cross Fit metodologije,
                Olimpijskog dizanja tegova, vežbi sa opterećenjem, Ruskim zvonima (eng. Ketlebells),
                Concept Ergometrima, gimnastičkim elementima programiraju učinkovite i
                interesantne trening cikluse i sve to u viskokom intezitetu.
              </div>
              <div class="mt-6">
                <a href="#" class="concept-read-more z-20">
                  Detaljnije
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h3 class="concept-title mb-8">
                BASKETBALL
              </h3>
              <div class="concept-description">
                Naša sala za basket 3x3 je punih dimenzija 15m x 11m, sa sportskom podlogom koju
                će vaša kolena i zglobovi obožavati. Imamo profesionalan koš i puno svetlosti i
                vazduha ne bi li vaš basket bio odigran u što lepšem ambijentu.
                Termini su 60 minuta i
                počinju na pun sat.
                Cena jednog termina je
                3000 RSD.
                Neophodno je zakazati
                termine i oni se plaćaju
                unapred.
                U pripremi je
                formiranje 3x3
                basket lige ekipa
                koje treniraju i
                igraju basket kod
                nas.
              </div>
              <div class="mt-6">
                <a href="#" class="concept-read-more z-20">
                  Detaljnije
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h3 class="concept-title mb-8">
                MIND & BODY
              </h3>
              <div class="concept-description">
                MInd & Body je naš studio posebno projektovan i uređen za mirnije
programe. Prilikom realizacije studija, vodili smo računa da svaki detalj bude
na svom mestu, i da stvorimo što lepši i prijatniji ambijent. U ovom departmanu sprovodimo programe Hatha Yoge, Prenatal Yoge, a u
pripremi je još nekoliko interesantnih mirnih programa.
              </div>
              <div class="mt-6">
                <a href="#" class="concept-read-more z-20">
                  Detaljnije
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- prev / pause / play / next -->
      <div class="relative">
        <div class="w-full absolute bottom-0 h-12 mt-10 flex items-center justify-end pr-16 pb-16 z-10">
          <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <polygon class="hoverable" points="120 32 24 128 120 224 120 176 184 176 184 80 120 80 120 32"
                fill="#464646"></polygon>
              <polygon points="120 32 24 128 120 224 120 176 184 176 184 80 120 80 120 32" fill="none" stroke="#fff"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polygon>
              <line x1="216" y1="176" x2="216" y2="80" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></line>
            </svg>
          </div>
          <div id="ourConceptPauseBtn" class="swiper-button-pause">
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <rect x="156" y="40" width="52" height="176" rx="8" fill="#464646"></rect>
              <rect x="48" y="40" width="52" height="176" rx="8" fill="#464646"></rect>
              <rect x="156" y="40" width="52" height="176" rx="8" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></rect>
              <rect x="48" y="40" width="52" height="176" rx="8" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></rect>
            </svg>
          </div>
          <div id="ourConceptPlayBtn" class="swiper-button-play hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <path
                d="M228.1,121.2,84.2,33.2A8,8,0,0,0,72,40V216a8,8,0,0,0,12.2,6.8l143.9-88A7.9,7.9,0,0,0,228.1,121.2Z"
                opacity="0.2"></path>
              <path
                d="M228.1,121.2,84.2,33.2A8,8,0,0,0,72,40V216a8,8,0,0,0,12.2,6.8l143.9-88A7.9,7.9,0,0,0,228.1,121.2Z"
                fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <polygon points="136 32 232 128 136 224 136 176 72 176 72 80 136 80 136 32" fill="#464646"></polygon>
              <polygon points="136 32 232 128 136 224 136 176 72 176 72 80 136 80 136 32" fill="none" stroke="#fff"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polygon>
              <line x1="40" y1="176" x2="40" y2="80" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></line>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>