<section>
  <div class=" mx-auto " id="our_mission"><!--container-->
    <div class="flex justify-between pt-12 lg:pt-24 mission-container">
      <div class="w-1/5 hidden lg:block">
        <ul class="filters pt-24">
          {% for mission in page.our_mission %}
          <li class="filter flex mb-3  pr-4">
            <a class="w-full flex filter-link align-bottom items-center" href="#{{mission.title}}"
              data-category={{ mission.title | slugify}}>
              <div class="menu-dot mr-8"></div>
              <div class="uppercase">{{ mission.title }}</div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="lg:w-4/5 scollingBox">
        {% for mission in page.our_mission %}
        <div class="mb-20 lg:mb-10  mission-box pt-10" id="{{mission.title}}" class=""
          data-category={{ mission.title | slugify}}>
          <img class="lg:w-1/2 mission-img" src="{{ mission.image }}" />
          <div class="lg:w-1/2 mission-text mb-8 lg:mb-0">
            <h2 class="section-little-title">{{mission.title}}</h2>
            <p class="4">{{ mission.description }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
</section>