{% assign concepts = site.pages | where:'layout','single_concept' %}

<section id="concept-section-cta" class="pt-24 pb-20">
  <div class="container mx-auto">
    <h2 class="section-title">
      Naš koncept
    </h2>
  </div>

  <div class="relative hidden md:flex lg:items-stretch lg:items-center lg:justify-center py-20">
    <div class="lg:w-1/2">
      <div class="concept-slider">
        <div class="swiper conceptSwiperImages h-full" dir="rtl">
          <div class="swiper-wrapper h-full">
            {% for concept in concepts %}
            <div class="swiper-slide" style="background-image: url({{concept.galery[0]}});"> </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 px-12 lg:px-24">
      <div class="swiper conceptSwiperText h-full" dir="rtl">
        <div class="swiper-wrapper h-full pt-8">
          {% for concept in concepts %}
            <div class="swiper-slide">
              <div>
                <h3 class="concept-title mb-8">
                  {{concept.title}}
                </h3>
                <div class="concept-description">
                  <div>
                    {{concept.short_description}}
                  </div>
                </div>
                <div class="mt-6">
                  <a href="{{ concept.url }}" class="concept-read-more z-20">
                    Detaljnije
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- prev / pause / play / next -->
      <div class="relative hidden lg:block">
        <div class="w-full absolute bottom-0 h-12 mt-10 flex items-center justify-end pr-16 pb-16 z-10">
          <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <polygon class="hoverable" points="120 32 24 128 120 224 120 176 184 176 184 80 120 80 120 32"
                fill="#464646"></polygon>
              <polygon points="120 32 24 128 120 224 120 176 184 176 184 80 120 80 120 32" fill="none" stroke="#fff"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polygon>
              <line x1="216" y1="176" x2="216" y2="80" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></line>
            </svg>
          </div>
          <div id="ourConceptPauseBtn" class="swiper-button-pause">
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <rect x="156" y="40" width="52" height="176" rx="8" fill="#464646"></rect>
              <rect x="48" y="40" width="52" height="176" rx="8" fill="#464646"></rect>
              <rect x="156" y="40" width="52" height="176" rx="8" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></rect>
              <rect x="48" y="40" width="52" height="176" rx="8" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></rect>
            </svg>
          </div>
          <div id="ourConceptPlayBtn" class="swiper-button-play hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <path
                d="M228.1,121.2,84.2,33.2A8,8,0,0,0,72,40V216a8,8,0,0,0,12.2,6.8l143.9-88A7.9,7.9,0,0,0,228.1,121.2Z"
                opacity="0.2"></path>
              <path
                d="M228.1,121.2,84.2,33.2A8,8,0,0,0,72,40V216a8,8,0,0,0,12.2,6.8l143.9-88A7.9,7.9,0,0,0,228.1,121.2Z"
                fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#fff" viewBox="0 0 256 256">
              <rect width="256" height="256" fill="none"></rect>
              <polygon points="136 32 232 128 136 224 136 176 72 176 72 80 136 80 136 32" fill="#464646"></polygon>
              <polygon points="136 32 232 128 136 224 136 176 72 176 72 80 136 80 136 32" fill="none" stroke="#fff"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polygon>
              <line x1="40" y1="176" x2="40" y2="80" fill="none" stroke="#fff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></line>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="md:hidden mobile-concept-swiper">
    <div class="relative">
      <div class="swiper conceptMobileSwiper">
        <div class="swiper-wrapper">
          {% for concept in concepts %}
            <div class="swiper-slide single-image">
              <img src="{{concept.galery[0]}}" alt="">  
              <div class="px-4 mt-6">
                <h3 class="concept-title mb-8">
                  {{concept.title}}
                </h3>
                <div class="concept-description">
                  {{concept.short_description}}
                </div>
                <div class="mt-6">
                  <a href="{{ concept.url }}" class="concept-read-more z-20">
                    Detaljnije
                  </a>
                </div>
              </div> 
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="swiper-pagination-mobile-concept"></div>
    </div>
  </div>
</section>