<section>
  {% if page.youtube_src %}
    <div class=" mx-auto pt-20 md:pt-24" id="our_mission">
  {% else %}
    <div class=" mx-auto pt-6 md:pt-24" id="our_mission">
  {% endif %}
    <h2 class="section-title">{{page.our_mission_title}}</h2>

    <div class="flex justify-between  mission-container">

      <div class="w-1/5 hidden lg:block">
        <ul class="filters pt-24">
          {% for mission in page.our_mission %}
          <li class="filter flex mb-3  pr-4">
            <span class="w-full flex filter-link align-bottom items-center"
              data-category={{ mission.title | slugify}}>
              <div class="menu-dot mr-8"></div>
              <div class="uppercase">{{ mission.title }}</div>
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="lg:w-4/5 scollingBox">
        {% for mission in page.our_mission %}
        <div class="mb-20 lg:mb-10  mission-box pt-10 items-start" id="{{mission.title}}" class=""
          data-category={{ mission.title | slugify}}>
          <div class="lg:w-1/2 sticky top-4 mission-img-box">
            <img class="lg:w-1/2 mission-img" src="{{ mission.image }}" />
          </div>
          <div class="lg:w-1/2 mission-text mb-8 lg:mb-0">
            <h2 class="section-little-title">{{mission.title}}</h2>
            <p class="4">{{ mission.description | markdownify }}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
</section>