{% assign pages = site.pages | where:'layout','single_concept' %}


<section id="our-concept-section" class="container mx-auto pb-20">
  <h2 class="section-title">
    Naš koncept
  </h2>


  <div class="flex flex-wrap items-center justify-between lg:justify-start mt-20">
    {% for page in pages %}
    <div class="concept-box" style="background-image: url('../img/6O6A0374.jpg')">
      <a href="{{ page.url }}">
        <div class="lg:py-12 lg:px-10 flex flex-col items-center justify-center">
          <h4 class="title oswald font-bold text-center">
            {{ page.title }}
          </h4>
          <div class="text-center hidden lg:block">
            <span  class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>