<section id="our-concept-section" class="container mx-auto pb-20">
  <h2 class="section-title">
    Naš koncept
  </h2>

  <div class="flex flex-wrap items-center justify-between lg:justify-start mt-20">
    <div class="concept-box" style="background-image: url('../img/6O6A0374.jpg')">
      <a href="/coaching">
        <div class="lg:py-12 lg:px-10">
          <h4 class="title oswald font-bold text-center">
            coaching
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3Z6A2234.jpg')">
      <a href="/gym">
        <div class="lg:py-12 lg:px-10">
          <h4 class="title oswald font-bold text-center">
            gym
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/6O6A0799.jpg')">
      <a href="#">
        <div class="lg:py-12 lg:px-10">
          <h4 class="title oswald font-bold text-center">
            cross training
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/activity-kids.png')">
      <a href="#">
        <div class="lg:py-12 lg:px-10">
          <h4 class="title oswald font-bold text-center">
              activity kids
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="lg:py-12 lg:px-10">
          <h4 class="title oswald font-bold text-center">
            baby growth
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
   <!-- <div class="concept-box" style="background-image: url('../img/basketball.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
              Basketball
          </h4>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
              Energy
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
              Mind & body
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
              Recovery
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
              Running
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
              Front desk
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
              consulting
          </h4>
          <div class="description text-center mt-6 mb-8 hidden lg:block">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center hidden lg:block">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
            masterclass
          </h4>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
   <div class="concept-box" style="background-image: url('../img/3B7A9430.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <h4 class="title oswald font-bold text-center">
            community care
          </h4>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>-->
  </div>
</section>