<section id="our-concept-section" class="container mx-auto pt-24 pb-40">
  <h2 class="section-title">
    Naš koncept
  </h2>

  <div class="flex flex-wrap items-center justify-start mt-20">
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="concept-box" style="background-image: url('../img/concept-box-1.jpg')">
      <a href="#">
        <div class="py-12 px-10">
          <div class="title oswald font-bold text-center">
            coaching coaching
          </div>
          <div class="description text-center mt-6 mb-8">
            Lorem ipsum dolor sit amet, <br>
            consectetur adipiscing elit.
          </div>
          <div class="text-center">
            <span class="read-more">
              Saznaj više
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>