<section id="pricing" class="pt-24 pb-40 mr-auto flex ">
<div class="w-1/2 pricing-section h-screen"></div>
<div class="w-1/2  pl-24 pr-24 pt-24 text-center">
    <div class="">
    <h2 class="section-little-title mb-1">Cenovnik</h2>
<div class="flex justify-center mb-16">
    <div class="price-dot mr-2"></div>
    <div class="price-dot mr-2"></div>
    <div class="price-dot"></div>
</div>
</div>


<div class="w-full pricing-table">
    {% for price in page.our_pricies %}
    <div class="flex justify-between mb-6">
        <p>{{price.service}}</p>
        <strong>{{price.price}}</strong>
    </div>
    {% endfor %}
   
    <!--<div class="flex justify-between mb-6">
        <p>Personalni treninzi</p>
        
    </div>
    <div class="flex justify-between mb-6">
        <p class="ml-8">Individualni</p>
        <strong>od 1800</strong>
    </div>
    <div class="flex justify-between mb-6">
        <p class="ml-8">Dualni</p>
        <strong>od 1200</strong>
    </div>
    <div class="flex justify-between mb-6">
        <p class="ml-8">Trojni</p>
        <strong>od 1000</strong>
    </div>
    <div class="flex justify-between mb-6">
        <p class="ml-8">Vođeni treninzi</p>
        <strong>od 7750</strong>
    </div>
    <div class="flex justify-between mb-6">
        <p class="ml-8">Trening programi</p>
        <strong>od 4000</strong>
    </div>
    <div class="flex justify-between mb-6">
        <p class="ml-8">Trening kod vas</p>
        <strong>od 2700</strong>
    </div>-->
    <div class="flex justify-end mb-6 mt-10">
        <p class="mr-2 singergija-red">* </p>
        <p class=""> Cena za treninge je po osobi po času</p>
    </div>
    
</div>

</div>
</section