<section id="pricelist-section">
  <div class="w-fullmy-16 py-16 pricelist-overlay">
    <div class="container mx-auto">
      <h2 class="section-title">
        cenovnik
      </h2>
    
      <div class="flex justify-between mt-20">
        <!-- COACHING -->
        <div class="price-program-box">
          <div class="flex flex-col h-full justify-between">
            <div class="price-box-text">
              <div class="title">
                coaching
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Pregled i merenje</div>
                <div>2000</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Personalni treninzi</div>
              </div>
                <div class="price-program-box-item flex justify-between items-center">
                  <div class="sub-item">Individualni</div>
                  <div>od 1800</div>
                </div>
                <div class="price-program-box-item flex justify-between items-center">
                  <div class="sub-item">Dualni</div>
                  <div>od 1200</div>
                </div>
                <div class="price-program-box-item flex justify-between items-center">
                  <div class="sub-item">Trojni</div>
                  <div>od 1000</div>
                </div>
    
              <div class="price-program-box-item flex justify-between items-center">
                <div>Vođeni treninzi</div>
                <div>od 7750</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Trening programi</div>
                <div>od 4000</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Trening kod vas</div>
                <div>od 2700</div>
              </div>
            </div>
            <div class="price-box-additional-text">
              * Cena za treninge je po osobi po času
            </div>
          </div>
        </div>

        <!-- GYM -->
        <div class="price-program-box">
          <div class="flex flex-col h-full justify-between">
            <div class="price-box-text">
              <div class="title">
                Gym
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Dnevna karta</div>
                <div>600</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Nedeljna članarina</div>
                <div>2100</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Kvartalna <br>(3 meseca)</div>
                <div>10900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Polugodišnja <br> (6 meseci)</div>
                <div>20900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Godišnja <br> (12 meseci)</div>
                <div>38900</div>
              </div>
            </div>
            <div class="price-box-additional-text">
              *Uz mesečnu članarinu drugih departmana doplata za korišćenje GYM departmana je 1950 
            </div>
          </div>
        </div>

        <!-- cross training -->
        <div class="price-program-box">
          <div class="flex flex-col h-full justify-between">
            <div class="price-box-text">
              <div class="title">
                cross training
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Dnevna karta</div>
                <div>1000</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Nedeljna članarina</div>
                <div>3500</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>8 časova mesečno</div>
                <div>5200</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Mesečna</div>
                <div>6900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Kvartalna <br>(3 meseca)</div>
                <div>19500</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Polugodišnja <br> (6 meseci)</div>
                <div>36900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Godišnja <br> (12 meseci)</div>
                <div>69900</div>
              </div>
            </div>
            <div class="price-box-additional-text">
              *Uz mesečnu članarinu drugih departmana doplata za korišćenje GYM departmana je 1950 
            </div>
          </div>
          
        </div>

        <!-- activity kids -->
        <div class="price-program-box">
          <div class="flex flex-col h-full justify-between">
            <div class="price-box-text">
              <div class="title">
                activity kids
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Školica sporta</div>
                <div>3900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Škola sporta</div>
                <div>3900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Kvartalna <br>(3 meseca)</div>
                <div>10900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Polugodišnja <br> (6 meseci)</div>
                <div>20900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Godišnja <br> (12 meseci)</div>
                <div>38900</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Individualni čas</div>
                <div>od 2500</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Sportski rođendan</div>
                <div>od 30000</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="section-title mt-20">
        Popusti
      </h2>

      <div class="flex justify-between mt-20">
        <!-- povlašćene kategorije -->
        <div class="price-program-box">
          <div class="flex flex-col h-full justify-between">
            <div class="price-box-text">
              <div class="title">
                povlašćene kategorije
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Aktivni studenti</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Aktivni pripadnici policije, vojske i vatrogasnih brigada</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Lica starija od 65 godina</div>
              </div>
            </div>
          </div>
        </div>
        <!-- porodični paket -->
        <div class="price-program-box">
          <div class="flex flex-col h-full justify-between">
            <div class="price-box-text">
              <div class="title">
                porodični paket
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Drugi član porodice popust od 20%</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Treći član porodice popust od 30%</div>
              </div>
              <div class="price-program-box-item flex justify-between items-center">
                <div>Četvrti član i naredni BESPLATNO</div>
              </div>
            </div>
            <div class="price-box-additional-text">
              *Uz mesečnu članarinu drugih departmana doplata za korišćenje GYM departmana je 1950 
            </div>
          </div>
        </div>

        <div class="price-program-box" style="width: 48%">
          <div class="flex flex-col h-full justify-between">
            <div class="title">
              program lojalnosti
            </div>
            <div class="flex justify-between items-center">
              <div class="w-1/4 col-txt-title">vreme</div>
              <div class="w-1/4 col-txt-title">članarine</div>
              <div class="w-1/4 col-txt-title">kartica</div>
              <div class="w-1/4 col-txt-title">popust</div>
            </div>
            <div class="flex justify-between items-center">
              <div class="w-1/4 col-txt">1. godina</div>
              <div class="w-1/4 col-txt">10+</div>
              <div class="w-1/4 col-txt">crvena</div>
              <div class="w-1/4 col-txt">10%</div>
            </div>
            <div class="flex justify-between items-center">
              <div class="w-1/4 col-txt">2. godina</div>
              <div class="w-1/4 col-txt">10+</div>
              <div class="w-1/4 col-txt">crna</div>
              <div class="w-1/4 col-txt">15%</div>
            </div>
            <div class="flex justify-between items-center">
              <div class="w-1/4 col-txt">3. godina</div>
              <div class="w-1/4 col-txt">10+</div>
              <div class="w-1/4 col-txt">zlatna</div>
              <div class="w-1/4 col-txt">20%</div>
            </div>
            <div class="price-box-additional-text">
              * Popusti se ne sabiraju
            </div>
            <div class="price-box-additional-text">
              * Godina se sagledava na kalendarskom nivou
            </div>
            <div class="price-box-additional-text">
              * Popust koji se ostvari po ovom programu je  stalan i ne može se prenositi na druga lica
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</section>