<section id="pricelist-section">
  <div class="w-full mt-16 pt-16 lg:py-16 pricelist-overlay">
    <div class="container mx-auto">
      <h2 class="section-title">
        cenovnik
      </h2>

      <div class="lg:flex lg:justify-start flex-wrap mt-12">
        <!-- COACHING -->
        {% for pricelist in page.pricelist %}
          <div class="price-program-box accordion my-6">
            <div class="flex flex-col lg:h-full justify-between">
              <div class="title">
                <div class="md:hidden plus"></div>
                <h2 class="ml-10 lg:ml-0">{{ pricelist.title }}</h2>
              </div>
              <div class="h-full accordion-description flex flex-col justify-between">
                {% for service in pricelist.services %}
                  <div class="price-program-box-item flex justify-between items-center">
                    <div class="pricelist-service-title">{{ service.service }}</div>
                    <div class="pricelist-price">{{ service.price }}</div>
                  </div>
                {% endfor %}
                {% if pricelist.description.size > 5  %}
                <div class="price-box-additional-text">
                  * {{ pricelist.description }}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

      <h2 class="section-title mt-20">
        Popusti
      </h2>

      <div class="lg:flex lg:justify-between mt-20">

        {% for discount in page.discounts %}
          <div class="price-program-box accordion">
            <div class="flex flex-col h-full justify-between">
              <div class="price-box-text">
                <div class="title">
                  <div class="md:hidden plus"></div>
                  <h2 class="ml-10 lg:ml-0"> {{ discount.title }}</h2>
                </div>
                <div class="accordion-description">
                  {% for service in discount.services %}
                  <div class="price-program-box-item flex justify-between items-center">
                    <div>{{ service.service}}</div>
                  </div>
                  {% endfor %}

                  {% if discount.description.size > 5  %}
                    <div class="price-box-additional-text">
                      * {{ discount.description }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        {% for loyalty in page.loyalty %}
          <div class="price-program-box price-program-box--loayl accordion">
            <div class="flex flex-col h-full justify-between">
              <div class="title">
                <div class="md:hidden plus"></div>
                <h2 class="ml-10 lg:ml-0"> {{ loyalty.title}} </h2>
              </div>
              <div class="accordion-description">
                <div class="flex justify-between items-center">
                  <div class="w-1/4 col-txt-title">vreme</div>
                  <div class="w-1/4 col-txt-title">članarine</div>
                  <div class="w-1/4 col-txt-title">kartica</div>
                  <div class="w-1/4 col-txt-title">popust</div>
                </div>
                {% for service in loyalty.services %}
                  <div class="flex justify-between items-center">
                    <div class="w-1/4 col-txt">{{ service.time }}</div>
                    <div class="w-1/4 col-txt">{{ service.membership }}</div>
                    <div class="w-1/4 col-txt">{{ service.card }}</div>
                    <div class="w-1/4 col-txt">{{ service.discount }}</div>
                  </div>
                {% endfor %}

                {% for description in loyalty.descriptions %}
                  <div class="price-box-additional-text">
                    *{{ description.description }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


</section>