<section id="vaucher-section">
  <div class="flex items-center justify-between min-h-screen">
    <div class="md:w-2/5 mt-20 custom-vaucher-left-margin">
      <div>
        <h2 class="section-title">POKLON VAUČER</h2>
        <div class="pr-20">
          <p>
            Uvideli smo da je poklon kao što je članarina kod nas jedna fantastična stvar jer onome koji prima poklon otvara jedan novi prozor u svet zdravlja i fitnesa. Stoga u ponudi imamo vaučere koje možete kupiti za sebi drage ljude. Na taj način, stvarno ćete im pokazati da ih volite!
          </p>
        </div>
        <div class="mt-6">
          <a href="#" class="here-btn">Kupi vaučer</a> 
        </div>
      </div>
      <div class="mt-20">
        <h2 class="section-title">PONUDA ZA FIRME</h2>
        <div class="pr-20">
          <p>
            Ukoliko želite da uradite nešto odlično za svoju firmu i svoje zaposlene, paketi članarina kod nas doprineće zdravlju i zadovoljstvu vaših zaposlenih, a posledično i produktivnosti cele firme.
          </p>
        </div>
      </div>
      
    </div>
    <div class="image-section md:w-3/5 md:min-h-screen"></div>
  </div>
</section>