<section id="vaucher-section">
  <div class="flex items-center justify-between lg:min-h-screen pt-40 xl:pt-0">
    <div class="md:w-2/5 custom-vaucher-left-margin"><!--custom-vaucher-left-margin-->
      <div>
        <h2 class="section-title lg:mt-40">POKLON VAUČER</h2>
        <div class="lg:pr-20 mb-8">
          <p>
            Uvideli smo da je poklon kao što je članarina kod nas jedna fantastična stvar jer onome koji prima poklon otvara jedan novi prozor u svet zdravlja i fitnesa. Stoga u ponudi imamo vaučere koje možete kupiti za sebi drage ljude. Na taj način, stvarno ćete im pokazati da ih volite!
          </p>
        </div>
        <div class="mt-6">
          <div class="open-vaucher-model">Kupi vaučer</div> 
        </div>
      </div>
      <div class="mt-20">
        <h2 class="section-title">PONUDA ZA FIRME</h2>
        <div class="lg:pr-20 mb-8">
          <p>
            Ukoliko želite da uradite nešto odlično za svoju firmu i svoje zaposlene, paketi članarina kod nas doprineće zdravlju i zadovoljstvu vaših zaposlenih, a posledično i produktivnosti cele firme.
          </p>
        </div>
      </div>
      
    </div>
    <div class="image-section md:w-3/5 md:min-h-screen"></div>
  </div>
</section>

<div id="vaucher-model" class="hidden">
  <div class="vaucher-model-box" style="background-image: url('/img/vaucher-model.jpeg');">
    <div class="overlay relative overflow-scroll">
      <div class="close-btn absolute top-0 right-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-12 h-12 lg:w-16 lg:h-16">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>        
      </div>
      <div class="md:w-1/2 mx-auto h-full flex flex-col items-center justify-center">
        <h2 class="section-title pt-12">
          Prijavi se za Vaučer
        </h2>
        <!-- 3 dots -->
        <div class="flex items-center justify-center gap-x-4 mb-16">
          <div class="price-dot"></div>
          <div class="price-dot"></div>
          <div class="price-dot"></div>
        </div>
  
        <!-- from whom -->
        <div class="w-full flex flex-wrap items-center justify-between mb-4">
          <div class="w-full vaucher-text pl-6 mb-2">Za koga je:</div>
          <div class="w-1/2 px-4">
            <input type="text" required placeholder="Ime i prezime">
          </div>
          <div class="w-1/2 px-4">
            <input type="email" required  placeholder="E-mail">
          </div>
        </div>
        
        <!-- for whom -->
        <div class="w-full flex flex-wrap items-center justify-between mb-4">
          <div class="w-full vaucher-text pl-6 mb-2">Od koga je:</div>
          <div class="w-1/2 px-4">
            <input type="text" required  placeholder="Ime i prezime">
          </div>
          <div class="w-1/2 px-4">
            <input type="email" placeholder="E-mail">
          </div>
        </div>
  
        <!-- type -->
        <div class="w-full flex flex-wrap items-center justify-between px-4 mb-4">
          <div class="w-full vaucher-text pl-6 mb-2">Tip treninga:</div>
          <select name="training types" id="vaucherModelTrainingType">
            <option value="none" selected disabled hidden>Vrsta usluge</option>
            <option value="coaching">Coaching</option>
            <option value="gym">GYM</option>
            <option value="cross">Cross training</option>
            <option value="basketball">Basketball</option>
            <option value="energy">Energy</option>
            <option value="mind">Mind & body</option>
          </select>
        </div>

        <div class="w-full flex flex-wrap items-center justify-between px-4 mb-4">
          <div class="w-full vaucher-text pl-6 mb-2">Vreme trajanja:</div>
          <select name="training types" id="vaucherModelTrainingType">
            <option value="none" selected disabled hidden>Vreme trajanja</option>
            <option value="coaching">1 mesec</option>
            <option value="gym">3 meseca</option>
            <option value="cross">6 meseca</option>
            <option value="basketball">9 meseca</option>
            <option value="energy">12 meseci</option>
          </select>
        </div>
  
  
        <div id="submitVaucher" class="mt-12 font-bold bg-sinergija-red rounded-full w-48 py-2 text-white uppercase text-center text-xl cursor-pointer">
          Pošalji
        </div> 
      </div>
    </div>
  </div>

  <div id="successfull-model" class="hidden">
    <div class="successfull-box">
      <div class="flex justify-center items-center">
        <svg width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24.9592 30.5H36.0408M57.1875 36.8542V24.1458M3.8125 36.8542V24.1458M43.6658 45.75C49.7658 45.75 51.2908 42.3188 51.2908 38.125V22.875C51.2908 18.6813 49.7658 15.25 43.6658 15.25C37.5658 15.25 36.0408 18.6813 36.0408 22.875V38.125C36.0408 42.3188 37.5658 45.75 43.6658 45.75ZM17.3342 45.75C11.2342 45.75 9.70917 42.3188 9.70917 38.125V22.875C9.70917 18.6813 11.2342 15.25 17.3342 15.25C23.4342 15.25 24.9592 18.6813 24.9592 22.875V38.125C24.9592 42.3188 23.4342 45.75 17.3342 45.75Z" stroke="#ED1C24" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
      </div>
      <h3 class="section-title">
        ČESTITAMO!
      </h3>
      <p class="w-2/3 mx-auto text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius bibendum amet, suspendisse dictum tempor integer ut. Pellentesque ipsum turpis euismod proin justo mauris lectus. Aliquam blandit molestie odio sed. Orci praesent aliquam sed amet nulla sed ullamcorper elit. Tincidunt enim, orci augue ultrices. Neque mauris diam et commodo ultrices feugiat urna aliquet. Leo purus vivamus purus nullam amet fermentum arcu nisl.
      </p>

      <div id="closeSuccessfullModel" class="mt-12 font-bold bg-sinergija-red rounded-full w-48 py-2 text-white uppercase text-center text-xl cursor-pointer mx-auto close-btn">
        Zatvori
      </div> 
    </div>
  </div>
</div>