<section id="working-hours" class="container mx-auto lg:mt-32 lg:mb-32 mt-16 mb-16">
  <div class="lg:flex lg:justify-between lg:items-start">
    <div class="md:w-3/5">
      <h2 class="section-title">
        {{ page.working_hours.title }}
      </h2>
      <!-- Working hours -->
      <div class="flex justify-evenly mobile-show">
        <div class="circle flex flex-col items-center justify-start">
          <div class="time">{{ page.working_hours.working_hours_working_days | split:'-' | first }}</div>
          <div class="time">{{ page.working_hours.working_hours_working_days | split:'-' | last }}</div>
          <div class="days">radnim <br> danima</div>
        </div>
        <div class="circle flex flex-col items-center justify-start">
          <div class="time">{{ page.working_hours.working_hours_weekend | split:'-' | first }}</div>
          <div class="time">{{ page.working_hours.working_hours_weekend | split:'-' | last }}</div>
          <div class="days">subotom</div>
        </div>
      </div>
      <!-- end Working hours -->
      <div class="working-hours-text">
        {{ page.working_hours.text | markdownify }}
      </div>
    </div>
    <!-- Working hours -->
    <div class="md:w-2/5 flex w-full justify-start mobile-hide">
      <div class="circle flex flex-col items-center justify-start">
        <div class="time">{{ page.working_hours.working_hours_working_days | split:'-' | first }}</div>
        <div class="time">{{ page.working_hours.working_hours_working_days | split:'-' | last }}</div>
        <div class="days">radnim <br> danima</div>
      </div>
      <div class="circle flex flex-col items-center justify-start">
        <div class="time">{{ page.working_hours.working_hours_weekend | split:'-' | first }}</div>
        <div class="time">{{ page.working_hours.working_hours_weekend | split:'-' | last }}</div>
        <div class="days">subotom</div>
      </div>
    </div>
    <!-- end Working hours -->

  </div>
</section>