<section id="working-hours" class="container mx-auto mt-32 mb-32">
  <div class="flex justify-between items-start">
    <div class="md:w-3/5">
      <h2 class="section-title">
        Radno vreme
      </h2>
      <div class="working-hours-text">
        <p>Otvoreni smo tokom cele godine, radnim danima od <span class="time">6:30</span> do <span class="time">22:00</span> i subotom od <span class="time">08:00</span> do <span class="time">20:00</span>.
        </p>
        <p>
          Neradni dani su: <span class="px-3">•</span>  31. decembar <span class="px-3">•</span> 01. januar <span class="px-3">•</span> 06. januar <span class="px-3">•</span> 07. januar <span class="px-3">•</span>  Uskrs <span class="px-3">•</span> 01. maj
        </p>
        <p>Ukoliko donesemo odluku o drugim neradnim danima, članovi će biti blagovremeno obavešteni.</p>
      </div>
    </div>
    <div class="md:w-2/5 flex">
      <div class="circle flex flex-col items-center justify-start">
        <div class="time">06:30</div>
        <div class="time">22:00</div>
        <div class="days">radnim <br> danima</div>
      </div>
      <div class="circle flex flex-col items-center justify-start">
        <div class="time">08:00</div>
        <div class="time">20:00</div>
        <div class="days">subotom</div>
      </div>
    </div>

  </div>
</section>