{% assign current_page = 'about' %}
{% assign page_title = 'About us' %}
{% include head.html %}
{% include nav.html %}

<style>
  .value-box .opacity-0 {
    transition: all 0.5s ease-in-out;
  }
  .value-box:hover .opacity-0 {
    opacity: 1;
  }

  @media (max-width: 780px) {
    .value-box .opacity-0 {
      opacity: 1;
    }
  }
</style>

{% assign team_page = site.pages | where:'layout','team' | first %}

<main class="pt-48">
  <div class="container mx-auto">
    <h2 class="section-title">
      {{ page.title}}
    </h2>
    <div class="flex items-center justify-center gap-x-4 mb-16 lg:mb-20">
      <div class="price-dot"></div>
      <div class="price-dot"></div>
      <div class="price-dot"></div>
    </div>
  </div>

  <div class="custom-container mx-auto lg:mb-24 pb-12">

    <!-- temp -->
    <!-- {% for seciton in page.secitons %}
      {% if seciton.hidden_title == 'team' %}
        <div class="accordion">
          <div class="relative">
            <div class="plus md:hidden"></div>
            <h3 class="ml-8 md:ml-0 mb-8">
              {{seciton.title}}
            </h3>
          </div>
          <div class="about-text accordion-description mb-12">
            {{seciton.text | markdownify}}

            <div class="mt-10 mb-8 flex flex-wrap">
              {% for team_member in team_page.our_team %}
              {% assign image_url = team_member.image | strip %}
              {% assign image_name = image_url | split:"/" | reverse | first %}
              {% assign temp_id = image_name | split:"." | first  %}
  
              <div class="about-member-box">
                <a href="/team/#{{ temp_id }}" class="w-full">
                  <img src="{{ team_member.image }}" class="h-full w-full object-cover">
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %} -->


    {% for seciton in page.secitons %}
    {% if seciton.hidden_title != 'team' %}
    <div class="accordion">
      <div class="relative">
        <div class="plus md:hidden"></div>
        <h3 class="ml-8 md:ml-0 mb-8">
          {{seciton.title}}
        </h3>
      </div>
      <div class="about-text accordion-description mb-8">
        {{seciton.text | markdownify}}
        {% if seciton.values %}
        <div class="mt-12 flex justify-evenly flex-wrap">
          {% for values in seciton.values limit:6 %}
          <div class="value-box flex flex-col items-center justify-start w-1/2 lg:w-1/3  mb-8 relative group">
            <div
              class="border-2 border-red-500 w-48 h-48 rounded-full"
              style="background-image: url({{values.image}}); background-repeat: no-repeat; background-position: center;">
            </div>
            <div class="mt-4 text-center font-bold text-lg mb-3">
              {{values.value}}
            </div>
            {% if values.sub_values %}
              <div class="flex items-center justify-center flex-wrap gap-y-2 gap-x-4">
                {% for sub_value in values.sub_values limit:6 %}
                  <div class="opacity-0 group-hover:opacity-10 underline">
                    {{ sub_value.value }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <p class="mb-12">{{seciton.additiona_text | markdownify}}</p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  </div>

  </div>
  </div>


  {% include contact_cta.html %}

  {% include instagram.html %}

  <!-- include testimonials.html  -->

  {% include location.html %}
</main>





{% include footer.html %}