{% assign current_page = 'about' %}
{% assign page_title = 'About us' %}
{% include head.html %}
{% include nav.html %}


<main class="pt-48">
  <div class="container mx-auto">
    <h2 class="section-title">
      O nama
    </h2>
    <div class="flex items-center justify-center gap-x-4 mb-16 lg:mb-20">
      <div class="price-dot"></div>
      <div class="price-dot"></div>
      <div class="price-dot"></div>
    </div>
  </div>

      <div class="custom-container mx-auto lg:mb-24 pb-12">
      {% for seciton in page.secitons %}
   
        <div class="accordion">
          <div class="relative">
            <div class="plus md:hidden"></div>
          <h3 class="ml-8 md:ml-0 mb-8">
            {{seciton.title}}
          </h3>   
          </div>
          <div class="about-text accordion-description mb-8">
            {{seciton.text | markdownify}}
            <div class="mt-12 flex justify-evenly flex-wrap">
              {% for values in seciton.values limit:5 %}
              <div class="flex flex-col items-center justify-start w-56 mb-8">
                <div class="border-2 border-red-500 w-48 h-48 rounded-full"
                style="background-image: url(/img/1.svg); background-repeat: no-repeat; background-position: center;">      
                </div>
                <div class="mt-4 text-center">
                  {{values.value}}
                </div>
              </div>  
                {% endfor %}
            <p class="mb-24">{{seciton.second-text}}:</p>
            <div class="flex">
             {% for values in seciton.values  offset:5 %}
              <div class="flex flex-col items-center justify-start w-56 mb-8">
                <div class="border-2 border-red-500 w-48 h-48 rounded-full"
                style="background-image: url(/img/2.svg); background-repeat: no-repeat; background-position: center;">      
                </div>
                <div class="mt-4 text-center">
                  {{values.value}}
                </div>
              </div>  
                {% endfor %}
          </div>
        </div>
          </div>
            {% endfor %}
      </div>

  
</div>
  </div>


  {% include contact_cta.html %}

  {% include galery_cta.html %}

  <!-- include testimonials.html  -->

  {% include location.html %}
</main>





{% include footer.html %}