
{% include head.html %}
{% include nav.html %}

{% assign current_page = 'coaching' %}
{% assign page_title = 'Coaching' %}

<main class="mt-24 mb-24 pt-12">
    <div class="container mx-auto "><!--pb-12-->
<h1 class="section-title">Coaching</h1>
<section class="gallery-section">
 <img  
 src="/img/6O6A0374.jpg"
 class="mb-6"></img>
 <div class="flex  mt-4 w-full">
    <img src="/img/6O6A0351.jpg" class="w-1/3 pr-2"/>
    <img src="/img/3B7A9430.jpg" class="w-1/3"/>
    <img src="/img/3Z6A1688.jpg" class="w-1/3 pl-2"/>
 </div>
</section>
<section class="flex justify-between pt-24">
<div class="w-1/5">
  <ul class="filters__list">
    <li class="filter flex  mb-3 items-center">
        <div class="menu-dot mr-8"></div>
        <p class="filter__name">Dijagnostika i ishrana</p>
      </li>

      <li class="filter flex  mb-3 items-center">
        <div class="menu-dot mr-8"></div>
        <p class="filter__name">Personalni treninzi</p>
      </li>
      <li class="filter flex mb-3 items-center">
        <div class="menu-dot mr-8"></div>
        <p class="filter__name">Vođeni i online treninzi</p>
      </li>
      <li class="filter flex  mb-3 items-center">
        <div class="menu-dot mr-8"></div>
        <p class="filter__name">Trening programi</p>
      </li>
      <li class="filter flex mb-3 items-center">
        <div class="menu-dot mr-8"></div>
        <p class="filter__name">Trening kod vas</p>
      </li>
  </ul></div>
<div class="w-4/5">
  <div class="flex mb-16">
    <img 
    class="w-1/2 mr-8"
    src="/img/6O6A0327.jpg"/>
    <div class="w-1/2 ml-0">
      <h2 class="section-little-title">DIJAGNOSTIKA I ISHRANA</h2>
      <p class="4">Poverenje koje nam poklanjate time što nas
        birate za tim koji se bavi vašim zdravljem i
        fitnesom veoma cenimo. Baš zbog toga razvili
        smo sistem kroz koji prolaze naši klijenti i u
        tom sistemu početna dijagnostika i merenja
        su kamen temeljac dobrog budućeg rada i
        rezultata.</p>
    </div>
  </div>
  <div class="flex flex-row-reverse mb-16 ">
    <img 
    class="w-1/2 pl-8"
    src="/img/6O6A0327.jpg"/>
    <div class="w-1/2 mr-0">
      <h2 class="section-little-title">DIJAGNOSTIKA I ISHRANA</h2>
      <p class="section-text">Poverenje koje nam poklanjate time što nas
        birate za tim koji se bavi vašim zdravljem i
        fitnesom veoma cenimo. Baš zbog toga razvili
        smo sistem kroz koji prolaze naši klijenti i u
        tom sistemu početna dijagnostika i merenja
        su kamen temeljac dobrog budućeg rada i
        rezultata.</p>
    </div>
  </div>
  <div class="flex mb-16">
    <img 
    class="w-1/2 mr-8"
    src="/img/6O6A0327.jpg"/>
    <div class="w-1/2 mr-0">
      <h2 class="section-little-title">DIJAGNOSTIKA I ISHRANA</h2>
      <p class="section-text">Poverenje koje nam poklanjate time što nas
        birate za tim koji se bavi vašim zdravljem i
        fitnesom veoma cenimo. Baš zbog toga razvili
        smo sistem kroz koji prolaze naši klijenti i u
        tom sistemu početna dijagnostika i merenja
        su kamen temeljac dobrog budućeg rada i
        rezultata.</p>
    </div>
  </div>
</div>

</section>
</div>

</main>


{% include pricing.html %}
{% include location.html %}
{% include footer.html %}