{% assign current_page = 'faq' %}
{% assign page_title = 'FAQ' %}
{% include head.html %}
{% include nav.html %}

<script>
  document.body.classList.add('smoothLoad')
</script>

<main class="pt-48">
  <div class="container mx-auto">
    <h2 class="section-title">
      {{ page.title }}
    </h2>
    <h4 class="section-subtitle">
      {{ page.subtitle }}
    </h4>
  </div>

  <section class="container mx-auto">
    <div class="faq-categories lg:pt-32 lg:pb-24 pb-6 pt-6 flex flex-wrap  items-center">
      {% for category in page.categories %}
        <div class="faq-category mb-2" data-category-name="{{ category.title }}">{{ category.title }}</div>
      {% endfor %}
    </div>

    <div class="faq-section">
      
      <!-- GENERALNO -->
      {% for category in page.categories %}
        <div id="{{ category.title }}" class="faq-category-section mb-40">
          <h3 class="faq-section-title mb-16">{{ category.title }}</h3>

          <div class="faq-question-section">
            {% for questions in category.questions %}
              <h5 class="faq-question-question"><span>{{ questions.question }}</span></h5>
              <div class="faq-question-answer">{{ questions.answer | markdownify }}</div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}

    </div>
  </section>

  {% include location.html %}
  
</main>



{% include footer.html %}