{% assign current_page = 'galery' %}
{% assign page_title = 'galery' %}

{% include head.html %}
{% include nav.html %}


<main class="container mx-auto mt-40">
  <h1 class="section-title">
    {{ page.title}}</h1>
  </h1>
  <div class="inner-container">
    <div class="first-image mb-12">
      <img src=" /assets/uploads/galery1.jpg" alt="sport" 
          class="animate__animated animate__fadeInUp animate__slow"
      >
    </div>
    <div class="md:flex md:justify-between mb-12 sm:mb-8">
      <div class="second-image  mb-12 sm:mb-8 sm:mr-8">
        <img class="reveal-left" src="/assets/uploads/galery2.jpg" alt="sport">
      </div>
      <div class="third-image  mb-12 sm:mb-8 sm:ml-8">
        <img class="reveal-right " src="/assets/uploads/galery3.jpg" alt="sport">
      </div>
    </div>


    <div class="first-image mb-12">
      <img src=" /assets/uploads/gym2.jpeg" alt="sport" 
          class="reveal"
      >
    </div>

    <div class="md:flex md:justify-between mb-12 sm:mb-8">
      <div class="second-image  mb-12 sm:mb-8 sm:mr-8">
        <img class="reveal-left" src="/assets/uploads/galery4.jpg" alt="sport">
      </div>
      <div class="third-image  mb-12 sm:mb-8 sm:ml-8">
        <img class="reveal-right " src="/assets/uploads/galery5.jpg" alt="sport">
      </div>
    </div>

    <div class="first-image mb-12">
      <img src=" /assets/uploads/galery6.jpg" alt="sport" 
          class="reveal"
      >
    </div>

  </div>
</main>
{% include footer.html %}