{% assign current_page = 'galery' %}
{% assign page_title = 'galery' %}

{% include head.html %}
{% include nav.html %}

<script>
  document.body.classList.add('smoothLoad')
</script>

<main class="container mx-auto mt-40">
  <h1 class="section-title">
    {{ page.title}}</h1>
  </h1>
  <div class="inner-container">
    {% for images in page.images %}
    {% assign idx = forloop.index | modulo: 3 %}
      {% if idx == 1 %}
      <div class="first-image mb-12">
        <img src="{{images.image}}" alt="{{images.alt}}" class="animate__animated animate__fadeInUp animate__slow">
      </div>
      {% endif %}

      {% if idx != 1 %}
          {% if idx == 2 %}
          <div class="second-image  mb-12 sm:mb-8 sm:mr-8">
            <img class="reveal-left" src="{{images.image}}" alt="{{images.alt}}">
          </div>
          {% endif %}

          {% if idx == 0 %}
          <div class="third-image  mb-12 sm:mb-8 sm:ml-8">
            <img class="reveal-right" src="{{images.image}}" alt="{{images.alt}}">
          </div>
          {% endif %}
      {% endif %}
    {% endfor %}

  </div>
</main>
{% include footer.html %}