{% assign current_page = 'index' %}
{% assign page_title = 'Welcome' %}
{% include head.html %}
{% include nav.html %}

{% include loading.html %}
<script>
  if(window.location.search !== '?a=hidden'){
    document.body.style.overflow = 'hidden'
  }
  else {
    document.body.classList.add('smoothLoad')
  }
</script>

<main>
  <div class="cover-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%), url({{page.cover_image}});">
    <div class="container mx-auto flex flex-col justify-start min-h-full pt-56 pb-10 mt-10 mb-20">
      <h1 class="homepage-title flex flex-col">
        <span class="transparent-word" data-text="Činimo ljude"></span>
        <div class="white-word">
          <span>Zdravijim</span>
        </div>
        <div class="white-word">
          <span>Sposobnijim</span>
        </div>
        <div class="white-word">
          <span>Srećnijim</span>
        </div>
      </h1>

       <a href="/contact" class="lg:block mt-24 bg-sinergija-red rounded-full w-48 py-2 text-white uppercase text-center text-base md:text-xl cursor-pointer">
        Saznaj više
       </a> 
    </div>
  </div>

  {% include our_concept_cta.html %}
  
  {% if page.free_training != "" and page.free_training != null %}
    {% include free_training_cta.html %}
  {% endif %}


  <!-- temp -->
  <!-- {% include meet_the_team.html %} -->

  {% include membership_section.html %}

  {% include working_hours.html %}
  
  {% include galery_cta.html %}
  
  {% include contact_cta.html %}

  <!--  include testimonials.html  -->

  {% include location.html %}

</main>


{% include footer.html %}
