{% assign current_page = page.layout %}
{% assign page_title =  page.title  %}

{% include head.html %}
{% include nav.html %}

<script>
  document.body.classList.add('smoothLoad')
</script>


<main class="pt-40 pb-24" style="max-width: 1200px; margin: 0 auto;">
  <div class="container mx-auto">
    <h1 class="section-title">{{ page.title }}</h1>

    <div class="single-concept-cover">
      {% if page.show_youtube_video and page.youtube_src %}
  
        <div class="iframe-container">
          <iframe class="responsive-iframe" src="{{page.youtube_src}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
  
        <p class="my-20 text-lg">{{ page.subtitle }}</p>

        <!-- Gallery -->
        {% if page.show_gallery %}
          {% include single_concept_gallery.html  %}
        {% endif %}

      {% else %}
      
        <!-- Gallery -->
        {% if page.show_gallery %}
          {% include single_concept_gallery.html  %}
        {% endif %}
        <p class="my-20 text-lg">{{ page.subtitle | markdownify }}</p>
  
      {% endif %}
    </div>

    {% if page.show_weekly_program %}
      <div class="mt-20 mb-10">
        <h2 class="section-title"> {{ page.weekly_program_title }} </h2>
        <img src="{{ page.weekly_program }}" alt="{{ page.weekly_program_title }}" class="w-full h-full object-cover">
      </div>
    {% endif %}


    {% if page.our_mission != "" and page.our_mission != null %}
      {% include our_mission.html  %}
    {% endif %}
  </div>

  {% if page.show_training_time %}
    <div class="mt-20 md:pt-20 mb-10">
      <h2 class="section-title"> {{ page.training_time_title }} </h2>
      {% if page.training_time_image != "" and page.training_time_image != null %}
      <img src="{{ page.training_time_image }}" alt="{{ page.training_time_title }}" class="w-full h-full object-cover">
      {% endif %}
    </div>
  {% endif %}
</main>

{% if page.price_image != "" and page.price_image != null %}
  {% include pricing.html %}
{% endif %}

{% if page.rule_book != "" and page.rule_book != null %}
  <div id="concept-role-book" class="inner-container mx-auto pb-12 md:pb-40">
    <h2 class="section-title"> {{ page.rule_book_title }} </h2>
    <div class="flex items-center justify-center gap-x-4 mb-16 lg:mb-20">
      <div class="price-dot"></div>
      <div class="price-dot"></div>
      <div class="price-dot"></div>
    </div>
    <div>
      {{ page.rule_book | markdownify }}
    </div>
  </div>
{% endif %}

{% include location.html %}
{% include footer.html %}