{% include head.html %}

{% assign current_page = 'coaching' %}
{% assign page_title = 'Coaching' %}

<section class="flex h-screen">
   
    <div class="vaucher-text w-1/2 pt-24 ">
        <div class="mb-24">
         <h2 class="section-little-title mb-16">{{page.first-title}}</h2>
         <p class="mb-4">{{page.first-text}}</p>
         <a class="singergija-red">Kupi vaučer</a>
        </div>
        <div>
         <h2 class="section-little-title mb-16">{{page.second-title}}</h2>
         <p>{{page.second-text}}</p>
         <a></a>
        </div>
    </div>
<div class="vaucher-img w-1/2"></div>
    
</section>
